<h1>Confirma borrar comic</h1>
<hr>
<ng-template #contenido let-modal>
    <div class="modal-header">
        <h4 class="modal-tittle">titulo</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        contenido
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Aceptar</button>
        
    </div>
</ng-template>

<button type="button" class="btn btn-outline-danger" (click)="openCentrado(contenido)">lanzar modal</button>

